.cardPotrait-container {
    width: 100%;
}

.cardPotrait-container .label {
    margin-bottom: 10px;
}

.cardPotrait-container .card-list {
    display: flex;
    width: 100%;
    gap: 12px;
    overflow: hidden;
}

