.cardLandscape-container {
    position: relative;
    width: 1208px;
}

.cardLandscape-container .label {
    margin-bottom: 20px;
}

.cardLandscape-container .card-list {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 12px));
    grid-template-rows: repeat(2, 100px);
    gap: 16px;
}

.cardLandscape-container .card {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    border-color: #D6DFEB;
    cursor: default;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px 0px;
    height: 100%;
    padding: 12px 12px 12px 0;
    margin: 0px;
}

.cardLandscape-container .card:hover {
    cursor: pointer;
}

.cardLandscape-container .card .desc {
    font-family: 'Open Sauce One', sans-serif;
    h4 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    p {
        font-size: 14px;
    }
}