.quickTransaction-container {
    position: relative;
    display: block;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    width: 1208px;
    border-radius: 12px;
    padding: 16px;
    font-family: 'Open Sauce One', sans-serif;
}

.quickTransaction-container .content {
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing:border-box;
}

.quickTransaction-container .content .card-content-left {
    width: 50%;
    margin-right: 8px;
    h2 {
        font-size: 20px;
        font-weight: 600;
    }

}

.quickTransaction-container .content .card-content-right {
    width: 50%;
    position: relative;
    display: block;
    margin-left: 8px;
    h2 {
        font-size: 20px;
        font-weight: 600;
    }

}

.quickTransaction-container .content .label {
    display: flex;
    gap: 15px;
    align-items: baseline;
    margin-bottom: 16px;

    a {
        text-decoration: none;
        color: #00AA5B;
        font-size: 14px;
        font-weight: bold;
    }
}

.quickTransaction-container .content .card-content-left .list-item {
    display: flex;
    position: relative;
    gap: 17px;
    overflow: hidden;
}

.quickTransaction-container .content .list-item .cover{
    border: 0.5px solid #F0F3F7;
    border-radius: 10px;
    img {
        width: 128px;
        height: 128px;
    }
}

.quickTransaction-container .content .card-content-right .table-transaction {
    width: 100%;
    height: 134px;
    border: 1px solid #F0F3F7;
    border-radius: 10px;
}

.quickTransaction-container .content .card-content-right .table-transaction .category {
    
    button {
        font-family: "Open Sauce One", "Nunito Sans", -apple-system, sans-serif;
        padding: 0 24px;
        font-size: 14px;
        color: #00AA5B;
        font-weight: 700;
        box-sizing: border-box;
        border: none;
        outline: none;
        background-color: transparent;
        height: 44px;
    }
}